Package: [[name]]
Version: [[version]]
Section: python
Priority: optional
Architecture: all
Depends: python (>=2.7), python-serial
Description: Python Licor Serial Library
Maintainer: oliver.archner@uni-bayreuth.de
